#content{
    font-size: x-large;
margin-left: 300px;
margin-right: 200px;
}
h2{
    font-size: 40px;
    text-align: center;
}
body{
    background-color: rgb(246, 203, 246);
}
#navbar{
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    gap: 150px;
}
a{
    text-decoration: none;
}



@media screen and (min-width:280px) and (max-width:460px) {
    #content{
        font-size: large;
    margin-left: 0px;
    margin-right: 0px;
    }
    h2{
        font-size: 20px;
        text-align: center;
    }
    #navbar{
        font-size: 12px;
        justify-content: space-between;
        display: flex;
        gap: 0px;
    }
    #logo{
        width: 30px;
        height: 30px;
    }
}
/* @media  screen and (min-width:1280px) and (max-width: 2460px) {
    #content{
        font-size: 21.65px;
    margin-left: 0px;
    margin-right: 200px;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
    body{
        background-color: rgb(246, 203, 246);
    }
    #navbar{
        font-size: 20px;
        display: flex;
        gap: 0%;
    }
    a{
        text-decoration: none;
        font-size: large;
    } */

@media  screen and (min-width:768px) and (max-width: 912px) {

    #content{
        font-size: 21.65px;
    margin-left: 00px;
    margin-right: 00px;
    }
    h2{
        font-size: 40px;
        text-align: center;
    }
    body{
        background-color: rgb(246, 203, 246);
    }
    #navbar{
        font-size: 25px;
        justify-content: space-between;
        display: flex;
        gap: 0px;
    }
    a{
        text-decoration: none;
    }
    #logo{
        width: 60px;
        height: 60px;
    }


}