
.container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    box-shadow: 3px 3px 10px rgb(0,0,0.15);
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    justify-content: center;
    margin-left: 400px;
    margin-top: 80px;
    height: 700px;
    background-color: rgb(235, 228, 219);
}
.goals{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.goal-value{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    flex-grow: 1;
}
#navbar{
    font-size: 30px;
    justify-content: space-between;
    display: flex;
    gap: 150px;
}
a{
    text-decoration: none;
    font-size: x-large;
}
.todo:has(.goal-checkbox:checked){
    color: #555555;
    background: #eeee;
    text-decoration: line-through;
    order: 1;
}
body{
    background-color: rgb(241, 190, 207);
}
h1{
text-align: center;
}
#logo{
    width: 100px;
    height: 80px;
}
@media screen and (min-width:280px) and (max-width:460px) {
    .container{
        width: 270px;
        box-shadow: 3px 3px 10px rgb(0,0,0.15);
        border-top: 5px solid green;
        border-bottom: 5px solid green;
        margin-left: 0px;
    }
    #navbar{
        display: flex;
        gap: 2%;
    }
    a{
        text-decoration: none;
        font-size: small;
    }
    #logo{
        width: 30px;
        height: 30px;
    }
}
/* @media  screen and (min-width:1280px) and (max-width: 2460px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 1000px;
        box-shadow: 3px 3px 10px rgb(0,0,0.15);
        border-top: 5px solid green;
        border-bottom: 5px solid green;
        justify-content: center;
        margin-left: 0px;
        margin-top: 40px;
        height: 700px;
        background-color: rgb(235, 228, 219);
    }
    .goals{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    .goal-value{
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: bold;
        flex-grow: 1;
    }
    #navbar{
        font-size: 30px;
        justify-content: space-between;
        display: flex;
        gap: 150px;
    }
    a{
        text-decoration: none;
        font-size: x-large;
    }
    .todo:has(.goal-checkbox:checked){
        color: #555555;
        background: #eeee;
        text-decoration: line-through;
        order: 1;
    }
    body{
        background-color: rgb(241, 190, 207);
    }
    h1{
    text-align: center;
    } */



@media  screen and (min-width:768px) and (max-width: 912px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 750px;
        box-shadow: 3px 3px 10px rgb(0,0,0.15);
        border-top: 5px solid green;
        border-bottom: 5px solid green;
        justify-content: center;
        margin-left: 0px;
        margin-top: 40px;
        height: 800px;
        background-color: rgb(235, 228, 219);
        font-size: larger;
    }
    .goals{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }
    .goal-value{
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        font-weight: bold;
        flex-grow: 1;
    }
    #navbar{
        font-size: 30px;
        justify-content: space-between;
        display: flex;
        gap: 10px;
    }
    a{
        text-decoration: none;
    }
    .todo:has(.goal-checkbox:checked){
        color: #555555;
        background: #eeee;
        text-decoration: line-through;
        order: 1;
    }
    body{
        background-color: rgb(241, 190, 207);
    }
    h1{
    text-align: center;
    }
    #logo{
        width: 60px;
        height: 60px;
    }







}


